*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-image: linear-gradient(#d4dfff, #faefb8, #f8becd, #bd84b2);
    margin: 0 auto;
    max-width: 1440px;
    font-family: 'Dosis', sans-serif;
}
.content{
    width: 75%;
    margin: auto;
}
div{
    padding: 15px;
}
h1{
    font-size: 40px;
    font-weight: 900;
}
h2{
    font-size: 30px;
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}
li{
    list-style: none;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-bottom: 70px;
    margin-top: 20px;
}
.nav li{
    display: inline;
    margin: 0 10px;
}
a{
    cursor: pointer;
    text-decoration: none;
    font-weight: 900;
    color: rgba(109, 8, 168, 0.88);
}
a:visited {
    color: #591758;
}
a:hover {
    color: #f3ac74;
}
.box{
    display: flex;
    justify-content: space-between;
}
.avatar{
    width: 50%;
    border-radius: 100%;
    margin: 0 40px;
}
.contact{
    width: 80%;
    padding-top: 10px;
    text-align: center;
}
ul.inline li {
    display: inline-block;
    padding: 3px; /* Поля вокруг текста */
}
.about{
    width: 65%;
    font-size: 35px;
    padding: 50px 50px 0 0;
}
.you{
    font-weight: 500;
}
blockquote{
    font-size: 30px;
    float: right;
    font-weight: 600;
}
pre{
    width: 43%;
    background-color: #d9acd6;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Bitter', serif;
    border-radius: 20%;
}
.code{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    align-items: center;
}
.column{
    text-align: center;
    background-color: #ffc9d8;
    border-radius: 30%;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}
.logo-gith{
    width: 100px;
    height: 100px;
}
.logo-rss{
    width: 150px;
    height: 150px;
}

